html, body{
    margin: 0 auto;
    padding: 0;
}

.main {
    display: flex;
    background-color: rgb(77, 75, 75);
}

.navigation {
    width: 10vw;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    border-left: 1px solid black;
}

li a{
    display: block; 
    background-color: rgb(77, 75, 75);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
}

.active{
    background-color: black;
    color: white;
}

.background {
    background-color: darkgray;
    width: 80%;
    justify-content: center;
    padding: 20px;
    margin: 10px;
}

.title {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-shadow: 2px 2px 8px black;
    padding: 20px;
    font-size: 40px;
}

.title-small {
    background-color: lightgrey;
    text-shadow: 2px 2px 8px white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.table {
    padding: 20px;
    margin: 10px;
    width: 100%;
    border-collapse: collapse;
}

.table th {
    background-image: linear-gradient(#dedede, #c9c6c6);
    text-align: left;
    padding: 15px;
    white-space: nowrap;
}

.table td {
    background-color: white;
    border: 1px solid #ddd;
    text-align: left;
    padding: 15px;
    white-space: nowrap;
}

.table-container {
    display: flex;
}

.table-small-container{
    margin: 0;
    width: 200px;
    height: 100vh;
    background-color: rgb(77, 75, 75);
}


.table-small {
    display: flex;
    padding: 20px;
    margin: 10px;
    border-collapse: collapse;
    color: white;  
}

.table-small th, 
.table-small td {
    text-align: center;
    padding: 15px;
    white-space: nowrap;
}

.table-details {
    padding: 20px;
    margin: 10px;
    width: 60vw;
    border-collapse: collapse;
}

.table-details th {
    background-image: linear-gradient(#dedede, #c9c6c6);
    text-align: left;
    padding: 15px;
    white-space: nowrap;
}

.table-details td {
    background-color: white;
    border: 1px solid #ddd;
    text-align: left;
    padding: 15px;
    white-space: nowrap;
}

.table-details-race {
    padding: 20px;
    margin: 10px;
    width: 100%;
    border-radius: 20px;
    border-collapse: collapse;
}

.table-details-race th {
    background-image: linear-gradient(#dedede, #c9c6c6);
    text-align: left;
    padding: 15px;
    white-space: nowrap;
}

.table-details-race td {
    background-color: white;
    border: 1px solid #ddd;
    text-align: left;
    padding: 15px;
    white-space: nowrap;
}