html,
body {
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    display: flex;
    height: fit-content;
    background-color: rgb(77, 75, 75);
}

.navigation {
    width: 10vw;
    height: 100vh;
    border-right: 1px solid rgb(90, 90, 90);
}

.loading {
    color: coral;
}

.loading-div {
    padding-left: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10vw;
    border-top: 1px solid black;
}

li a {
    display: block;
    background-color: rgb(77, 75, 75);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    color: white;
    text-decoration: none;
    padding: 15px 0;
    text-align: center;
    width: 10vw;
    border-bottom: 1px solid black;
    text-shadow: 2px 2px 2px black, 0 0 5px white, 0 0 15px rgb(202, 200, 200);
}

li a:hover {
    background-color: rgb(55, 55, 55);
}

li a:active {
    background-color: rgb(55, 55, 55);
}

.active {
    background-color: black;
    color: white;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgray;
    width: 100%;
    height: auto;
    padding: 0 20px 10px 20px;
    margin: 0 10px;
}

.background-details {
    display: flex;
    justify-content: center;
    background-color: darkgrey;
    width: 100%;
    padding: 20px 10px;
    margin: 0 10px;
}

.title {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-shadow: 2px 2px 2px black, 0 0 5px white, 0 0 15px rgb(202, 200, 200);
    padding: 20px;
    font-size: 40px;
}

.title-small {
    background-color: lightgrey;
    text-shadow: 2px 2px 8px white;
    border-radius: 5px 5px 0 0;
    color: rgb(65, 64, 64);
    font-size: 18px;
}

.table {
    padding: 5px 10px;
    margin: 0 10px;
    width: 100%;
    height: fit-content;
    align-self: center;
}

.table tr {
    height: 30px;
}

.table th {
    background-image: linear-gradient(#dedede, #c9c6c6);
    text-align: left;
    padding: 8px;
    font-size: 18px;
}

.table td {
    background-color: white;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-align: left;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
}

.table-race {
    padding: 5px 10px;
    margin: 0 10px;
    width: 100%;
    height: fit-content;
    align-self: center;
}

.table-race tr {
    height: 30px;
}

.table-race th {
    background-image: linear-gradient(#dedede, #c9c6c6);
    text-align: left;
    padding: 8px;
    font-size: 18px;
}

.race-th th,
.subtitle-details th {
    background-color: lightgrey;
    text-shadow: 2px 2px 8px white;
    color: rgb(65, 64, 64);
    font-size: 15px;
}

.table-race td {
    background-color: white;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-align: left;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
}

.table-container {
    display: flex;
    width: 90vw;
}

.table-small-container {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 20%;
    height: 100vh;
    background-color: rgb(77, 75, 75);
    border-right: 1px solid rgb(90, 90, 90);
}

.table-small {
    display: flex;
    padding: 10px;
    color: white;
}

.master {
    display: flex;
    flex-direction: column;
    padding: 20px 5px 10px 5px;
}

.master-race {
    display: flex;
    width: 100%;
}

.table-small th,
.table-small td {
    text-align: left;
    padding: 4px 15px;
    white-space: nowrap;
}

.table-small-header {
    font-size: 18px;
    text-align: center !important;
}

.table-details {
    padding: 20px;
    margin: 10px;
    width: 100%;
    height: fit-content;
}

.table-details tr {
    height: 30px;
}

.table-details th {
    background-image: linear-gradient(#dedede, #c9c6c6);
    text-align: left;
    padding: 8px;
}

.table-details td {
    background-color: white;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-align: left;
    padding: 5px;
    font-size: 15px;
}

.flag-container {
    display: flex;
}

.flag {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.flag-text {
    display: flex;
    align-items: center;

}

.title-small-race th {
    font-size: 16px;
    color: rgb(65, 64, 64);
}

.table-details-race {
    padding: 20px;
    margin: 10px;
    width: 100%;
    height: fit-content;
}

.table-details-race th {
    background-image: linear-gradient(#dedede, #c9c6c6);
    text-align: left;
    padding: 8px;
    white-space: nowrap;
}

.table-details-race td {
    background-color: white;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-align: left;
    padding: 5px;
}

.image-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(90, 90, 90);
}

.img-div {
    display: flex;
    text-align: center;
    justify-content: center;
}

.img-div img {
    width: 220px;
}

.flag-name-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-top: 15px;
}

.name-div {
    padding-top: 2px;
    font-size: 20px;
}

.logo {
    width: 10vw;
}

.logo-img {
    width: 9vw;
    padding: 3px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 3px;
    filter: drop-shadow(5px 5px 10px black);
}

.main-container {
    width: 10vw;
    border-right: 1px solid rgb(90, 90, 90);
}

.flag-raceDetails {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(90, 90, 90);
}

@media screen and (max-width:1360px) {
    .main {
        flex-direction: column;
        width: 100%;
    }

    .main-container {
        display: flex;
        width: 100%;
        border-bottom: 1px solid rgb(90, 90, 90);
        align-items: center;
    }

/*     .bacground {
        padding: 0;
    } */

    .table-container {
        width: 100%;
        flex-direction: column;
    }

    .navigation {
        display: flex;
        width: 100%;
        height: 100%;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        border-top: none;
    }

    li {
        display: flex;
    }

    li a {
        font-size: 18px;
        padding: 5px 25px;
        width: 33%;
        border-bottom: none;
    }

    .background-details {
        padding: 0;
        margin: 0;
    }
    .table {
        padding: 2px;
        margin: 2px;
        width: 90vw;
    }

    .table-small-container {
        width: fit-content;
        height: fit-content;
        border-right: none;
    }

    .table-details {
        padding: 2px;
        margin: 2px;
        width: 100%;
        height: fit-content;
    }

    .title-small {
        font-size: 16px;
    }

    .table-details-race {
        padding: 2px;
        margin: 2px;
    }

    .table-details-race td {
        font-size: 14px;
    }

    .table-details tr,
    .table-details-race tr {
        height: fit-content;
    }

    .subtitle-details th {
        font-size: 14px;
    }

    .table-small-header {
        font-size: 16px;
    }

    .title-small th {
        font-size: 14px;
        padding: 4px;
    }

    .title-small td {
        font-size: 10px;
        padding: 4px;
    }

    .flag-size {
        width: 52px;
        height: 22px;
        padding-left: 3px;
    }

    .table-small-container {
        width: 100%;
        height: fit-content;
        border-right: none;
    }

    .master {
        flex-direction: row;
    }

    .large-flag {
        width: 120px;
        height: 120px;
    }

    .img-div {
        padding-right: 25px;
        align-items: center;
    }
}

/* media query max-width 900px */
@media screen and (max-width:900px) {
    .title {
        font-size: 30px;
        padding: 10px;
    }

    .title-small {
        font-size: 16px;
        padding: 4px;
    }

    .main {
        flex-direction: column;
        width: 100%;
    }

    .main-container {
        border-bottom: 1px solid rgb(90, 90, 90);
    }

    .navigation {
        display: flex;
        width: 100%;
        height: fit-content;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        border-top: none;
    }

    li {
        display: flex;
    }

    li a {
        font-size: 18px;
        padding: 5px 25px;
        width: 33%;
        border-bottom: none;
    }

    .main-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-right: none;
        align-items: center;
    }

    .table td {
        font-size: 13px;
        padding: 3px 5px;
    }

    .table {
        margin: 0;
        padding: 0 4px;
        ;
    }

    .table tr {
        height: fit-content;
    }

    .table-race {
        padding: 0px 4px;
        margin: 0;
    }

    .table-race tr {
        height: fit-content;
    }

    .table-race th {
        padding: 4px;
        font-size: 15px;
    }

    .race-th th,
    .subtitle-details th {
        font-size: 13px;
    }

    .table-race td {
        padding: 3px 5px;
        font-size: 13px;
    }

    .title-small-race th {
        font-size: 14px;
        padding: 4px;
    }

    .background {
        margin: 0;
        padding: 0 5px 5px 5px;
    }

    .logo {
        border: none;
        display: flex;
        align-items: center;
        width: 15%;
    }

    .logo-img {
        width: 100%;
        padding: 3px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 3px;
    }

    .link-img {
        width: 11px;
        height: 11px;
    }

    .flag-size {
        width: 22px;
        height: 22px;
        padding-left: 3px;
    }

    /* details media query */
    .table-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .table-small-container {
        width: 100%;
        height: fit-content;
        border-right: none;
    }

    .master {
        flex-direction: row;
    }

    .master-race {
        display: flex;
        flex-direction: row;
        padding: 10px;
    }

    .image-container {
        display: flex;
        width: 100%;
    }

    .table-small {
        width: 100%;
    }

    .table-details,
    .table-details-race {
        padding: 0;
        margin: 0 4px;
    }

    .table-details th,
    .table-details-race th {
        padding: 4px;
    }

    .table-details td,
    .table-details-race td {
        padding: 3px 5px;
        font-size: 13px;
    }

    .table-details tr .table-details-race tr {
        height: fit-content;
    }

    .img-div {
        padding-right: 25px;
        align-items: center;
    }

}

/* media query max-width 715px */
@media screen and (max-width:715px) {
    .title {
        font-size: 24px;
        padding: 8px;
    }

    .title-small {
        font-size: 13px;
        padding: 2px;
    }

    .table td {
        font-size: 11px;
        padding: 1px;
    }

    .table {
        margin: 0;
        padding: 0 2px;
    }

    .table tr {
        height: fit-content;
    }

    .table-race {
        padding: 0 2px;
        margin: 0;
    }

    .table-race tr {

        height: fit-content;
    }

    .table-race th {
        padding: 2px;
        font-size: 12px;
    }

    .race-th th,
    .subtitle-details th {
        font-size: 12px;
    }

    .table-race td {
        padding: 3px 5px;
        font-size: 12px;
        height: fit-content;
    }

    .title-small-race th {
        font-size: 12px;
        padding: 2px;
    }

    .background {
        margin: 0;
        padding: 0 2px 2px 2px;
        width: 100%;
    }

    .table {
        width: 100%;
    }

    .main {
        flex-direction: column;
        width: 100%;
    }

    .navigation {
        display: flex;
        width: 100%;
        height: fit-content;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        border-top: none;
    }

    li {
        display: flex;
    }

    li a {
        font-size: 16px;
        padding: 4px 20px;
        width: 33%;
        border-bottom: none;
    }

    .logo {
        border: none;
    }

    .main-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-right: none;
        align-items: center;
    }

    .flag-size {
        width: 20px;
        height: 20px;
        padding-left: 3px;
    }

    .link-img {
        width: 10px;
        height: 10px;
    }

    /* details media query */
    .table-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .table-small-container {
        width: 100%;
        height: fit-content;
        border-right: none;
    }

    .table-details,
    .table-details-race {
        padding: 0 2px;
        margin: 0;
    }

    .table-details th .table-details-race th {
        padding: 2px;
    }

    .table-details td,
    .table-details-race td {
        padding: 1px;
        font-size: 11px;
    }

    .table-details tr,
    .table-details-race tr {
        height: fit-content;
    }

    .img-div {
        padding-right: 0;
    }
}

/* media query max-width 615px */
@media screen and (max-width:615px) {
    .title {
        font-size: 24px;
        padding: 8px;
    }

    .title-small {
        font-size: 12px;
        padding: 2px;
    }

    .table td {
        font-size: 11px;
        padding: 1px;
    }


    .table {
        margin: 0px;
        padding: 0 2px;
    }

    .table tr {
        height: fit-content;
    }

    .table-race {
        padding: 0 2px;
        margin: 0;
    }

    .table-race tr {
        height: fit-content;
    }

    .table-race th {
        padding: 2px;
        font-size: 11px;
    }

    .race-th th,
    .subtitle-details th {
        font-size: 11px;
    }

    .table-race td {
        padding: 0;
        font-size: 11px;
    }

    .title-small-race th {
        font-size: 10px;
        padding: 2px;
    }

    .background {
        margin: 0;
        padding: 0 2px 2px 2px;
        width: 100%;
    }

    .main {
        flex-direction: column;
        width: 100%;
    }

    .navigation {
        display: flex;
        width: 100%;
        height: fit-content;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        border-top: none;
    }

    li {
        display: flex;
    }

    li a {
        font-size: 14px;
        padding: 3px 15px;
        width: 33%;
        border-bottom: none;
    }

    .logo {
        width: 15%;
    }

    .logo-img {
        width: 100%;
        padding: 3px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 3px;
    }

    .main-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-right: none;
        align-items: center;
    }

    .master {
        flex-direction: column;
    }

    .flag-size {
        width: 16px;
        height: 16px;
        padding-left: 2px;
    }

    .flag {
        padding-right: 3px;
    }

    .link-img {
        width: 9px;
        height: 9px;
    }

    /* details media query */
    .table-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .table-small-container {
        width: 100%;
        height: fit-content;
        border-right: none;
    }

    .table-details,
    .table-details-race {
        padding: 0 2px;
        margin: 0;
    }

    .table-details th,
    .table-details-race th {
        padding: 2px;
    }

    .table-details td,
    .table-details-race td {
        padding: 1px;
        font-size: 11px;
    }

    .table-details tr,
    .table-details-race tr {
        height: fit-content;
    }

    .img-div {
        justify-content: center;
    }

    .master-race {
        flex-direction: column;
    }

}